.course-title {
  /* padding-left: 5vh; */
  font-weight: bold;
  font-size: small;
}

.course-description {
  font-size: small;
}

.button-add{
  font-size: large;
  width: 7vh;
}

.acc-header {
  height: fit-content;
  
}

.acc-header-text {
  background-color: coral;
}

.inc-prep {
  font-size: small;
}

.course-warning {
  background-color: crimson;
  color: antiquewhite;
  width: 5vh;
  text-align: center;
  float: right;
}

.acc-validation {
  background: red;
  color: white;
  padding: 5px;
  height: 17px;
  width: 17px;
  display: inline-block;
  text-align: center;
  line-height: 9px;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 7px;
}